<% include partials/header %>

<form action="/login" class='form__user' method='POST'>
  <h1 class='form__user--title'>Login</h1>
  <input type="text" name='username' id='username' required placeholder='Enter username'>
  <input type="password" name='password' id='password' required placeholder='Enter password'>
  <% if (message !== undefined) { %>
    <p><small class='error'><%= message %></small></p>
  <% } %>
  <input type="submit">
</form>

<% include partials/footer %>
