<% include partials/header %>

<form action="/register" method='POST' class='form__user'>
  <h1 class='form__user--title'>Register</h1>
  <input type="text" name='username' id='username' required placeholder='Enter username'>
  <input type="email" name='email' id='email' required placeholder='Enter email'>
  <div class="form-group">
    <input type="password" name='password' id='password' required placeholder='Enter password'>
    <input type="password" name='password' id='password' required placeholder='Enter password again'>
  </div>
  <% if (message !== undefined) { %>
    <p><small class='error'><%= message %></small></p>
  <% } %>
  <input type="submit">
</form>

<% include partials/footer %>
