<% include ../partials/header %>

<h1>Add a new project</h1>

<form action="/projects/new" class='form__user' method='POST'>
    <input type="text" name='project[title]' id='title' required placeholder='Title'>
    <textarea name='project[description]' rows='5' id='description' required placeholder='Description'></textarea>
    <input type="text" name='project[image]' id='image' required placeholder='Image'>
    <input type="text" name='project[demo]' id='demo' placeholder='Demo link'>
    <input type="text" name='project[github]' id='github' placeholder='Github link'>
    <input type="submit">
</form>
<% if (message !== undefined) { %>
  <p><small class='error'><%= message %></small></p>
<% } %>

<% include ../partials/footer %>
